  .dashboard-main {
   
    display: flex;
    flex-direction: column;

   
  }
  .dash-second-half{
    display: flex;
    flex-direction: row;

  }
 
  @media (max-width: 900px) {
    .dashboard-main {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
  @media (max-width: 1440px) {
    .dash-second-half{
      flex-direction: column;
    }
  }