/* .dashboard-main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  } */


  /* new responsive css */
  .dashboard-main {
    /* display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    box-sizing: border-box; */
    display: flex;
    flex-direction: column;

   
  }
  .dash-second-half{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
  }
  /* Responsive adjustments */
  @media (max-width: 900px) {
    .dashboard-main {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
  @media (max-width: 1440px) {
    .dash-second-half{
      flex-direction: column;
    }
  }